sphinx-rtd-theme==1.1.1
sphinxcontrib-bibtex==2.5.1a0
sphinx-ext-graphviz==0.6
sphinxcontrib.contentui==0.2.5
sphinx_tabs.tabs==3.4.1-1
sphinx_copybutton==0.5.2 
sphinx_collapse==0.1.2
sphinx_preview==0.1.1
sphinxcontrib.needs==0.7.9
